#FacturasGrid 
{
    position:relative;
    float:left;
    width:inherit;
    height:inherit;
}
#FacturasGrid a
{
    color:#2E2E2E;
}
.limpiarButton
{
    float:right;
}
.pageSizeDropDownContainer
{
    position:relative;
    float:right;
}
.pageSizeDropDown
{
    width:50px;
}
.filtrosCheckBox input
{
    margin-left: 10px;
}
#FacturasGrid tr
{
    cursor:pointer;
}
#FacturasGrid tr:hover
{
    background-color:#ED5614;
}
