#facturaHeader
{
    position:relative;
    float:left;
    width:inherit;
}
#pdfButton
{
    position:relative;
    float:right;
}
    
#facturaDetalles
{
    display:block;
    position:relative;
    float:left;
    width:inherit;
    min-height:100px;
    border-bottom:1px solid gray;
    margin-bottom:5px;
}
#relacionesFacturaContainer
{
    position:relative;
    float:right;
}
#relacionesExistentesDiv
{
    width:auto;
    position:relative;
    float:right;
    border: 1px solid gray;
    border-radius:5px;
    padding:3px;
  
}
#relacionesExistentesDiv #relacionDiv
{
    position:relative;
    float:right;
    margin-left:5px;
    
}
#relacionesExistentesDiv #quitarRelacionButton 
{
    position:relative;
    float:left;
    font-weight:bold;
}
#relacionesExistentesDiv:hover
{
    position:relative;
    float:left;
    font-weight:bold;
    background-color:#E3E3E3;
    cursor:pointer;
}
#conceptoFacturaDiv
{
    position:relative;
    float:left;
    text-align:left;
}
#estadoFacturaDiv
{
    position:relative;
    float:right;
}
#totalFacturaDiv
{
    position:relative;
    float:right;
    text-align:right;
}
#facturaLineasFacturaGrid
{
    position:relative;
    float:left;
    width:inherit; 
}
#facturaBottom
{
    position:relative;
    float:left;
    margin-top:5px;
    width:inherit;
}
#nuevaLineaButton
{
    position:relative;
    float:left;
    margin:10px;    
    padding:5px;
    
    color:gray;
    
    border:1px solid gray;
    border-radius:5px;
    box-shadow:0px -1px 1px snow inset;
    cursor:pointer;
}
#descartarFacturaButton
{    
    background-color:red;
    float:left;
    color:White;
    font-weight:bold;
}
#guardarFacturaButton
{
    background-color:Green;    
    float:right;
    color:White;
    font-weight:bold;
}