#GraficosContainer 
{
    float:left;
    margin-top:10px;
    width:inherit;
}
#periodo
{
  float:right;  
}
#fechaLabel
{
    font-weight:bold;
}
#grafica
{
    position:relative;
    float:left;
    width:inherit;
}