.limpiarButton
{
    float:right;
}
#MovimientosGrid 
{
    position:relative;
    float:left;
    width:inherit;
}
#MovimientosGrid tr
{
    cursor:pointer;
}
#MovimientosGrid tr:hover
{
    background-color:#ED5614;
}
