/*#VentanaEditarAsociacion
{
    font-weight: bold;
    font-size: medium;
}
#DatosNuevaEmpresaRemota
{
    font-weight: bold;
    font-size: medium;
}*/
.k-invalid,k-invalid:hover
{
    border : 1px solid red;
}
.FormatoMensajeError
{
    font-weight :bold;
    font-size: small;
    color:Red;    
}
